body{
    font-family:  'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 60px;
}
.header-first-halfp{
    padding-right: 5%;
}
.header-part{
    display: flex;
    margin-bottom: 100px;
}
.header-first-half{
    width: 50%;
    padding-left: 5%;
    margin-top: 10%;
}
.line{
    border-left: 6px solid;
    border-image-slice: 100%;
    border-color: sandybrown;
    padding-left: 20px;
}
.red-color{
    color: sandybrown;
    font-size: 60px;
}
.button{
border-radius: 16px 15px;
padding: 5px 20px;    
text-decoration: none;
color: white;
font-weight: 600;
background-color: red;
}
.header-second-half{
    width: 50%;
    margin-top: 15%;
}
.header-second-half img{
    width: 80%;
    padding-left: 10%;
}
.span{
    color: rgb(240, 219, 37);
}
.holud{
    color: rgb(243, 179, 83);
}
section{
    display: flex;
    margin-bottom: 100px;
}
.develop-part{
    display: flex;
	margin-bottom: 100px;
    padding-left: 0px;
}

#back-part{
    background-image: url(dd.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40%;
}

.develop-first-part{
    width: 40%;
}
.develop-first-part img{
	width: 100%;
	margin: 0 5%;
	}
	
.develop-second-part {
	width: 40%;
	}
	
.develop-second-part {
	padding-right: 5%;
	padding-left: 10%;
	margin: 0 5%;
	}
.mission-item{
    box-shadow: 20px 20px 60px gray;
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border-radius: 10px 45px;
}
#color-goals{
    background-color: khaki;
}
#color-vission{
    background-color: lavender;
}
#color-mission{ 
    background-color:linen;
}
.mission {
text-align: center;
}
.footer-last{
    color: white;
    background-color: black;
    text-align: center;
    font-style: oblique;
}
.red-last{
    color: tomato;
}
.bns-point{
    display: flex;
    width: 50%;
}